body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #242525;
}


* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.ml-auto {
    margin-left: auto;
}

.flex {
    display: flex;
}